
a#miaStudio-Generation-introLink img { background-image : url(../../miastudioG_32.gif); }
a#miaStudio-Upgrade-9x img { background-image : url(../../miastudioG_32.gif); }
a#miaStudio-Transformation-introLink img { background-image : url(../../miastudioT_32.gif); }